# PostgreSQL Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce_dw
DB_USER=postgres
DB_PASSWORD=postgres

# Apache NiFi Configuration
NIFI_ADMIN_USER=admin
NIFI_ADMIN_PASSWORD=nifipassword123

# Apache Airflow Configuration
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin
AIRFLOW_EMAIL=sheerin.mohamed@ecommerce-dw.com
